body{
    background-color: #181153;
    text-align: center;
    font-family: Anton;
}

#title{
    color: #FFFFFF;
}

#thug{
    width: 50%
}

p{
    color: white;
}

input{
    font-family: Impact;
    background-color: black;
    color: white;
}

button{
    font-family: inherit;
    background-color: grey;
    color: red;
}